*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-land {
    width: 80%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #00000025;
    border: none;
    outline: none;
    padding: 0.85rem 1.3rem;
    font-family: 'Inter', sans-serif;
    position: relative;
}


.tt{
    font-size: 14px !important;
    opacity: 0.90;
}

.img-l{
    width: 120px;
    height: 77px;
}

