@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700&display=swap');

body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

/*------COLORS--------*/
.bg-sunset-pink { background-color: #F24B86;}
.bg-pink-1 { background-color: #AF13AF;}
.bg-pink-2 { background-color: #DD18DD;}
.bg-pink-3 { background-color: #EA3EEA;}
.bg-pink-4 { background-color: #EF6CEF;}
.bg-pink-5 { background-color: #F49AF4;}
.bg-gold-1 { background-color: #FADA14;}
.bg-gold-2 { background-color: #FEE23A;}
.bg-gold-3 { background-color: #FEE762;}
.bg-gold-4 { background-color: #FEEC7F;}
.bg-gold-5 { background-color: #FEF4B7;}
.bg-neutral-1 { background-color: #FFFFFF;}
.bg-neutral-2 { background-color: #A6A6A8;}
.bg-neutral-3 { background-color: #DEDEDE;}
.bg-greyscale-1 { background-color: #343436;}
.bg-greyscale-2 { background-color: #414043;}
.bg-greyscale-3 { background-color: #4e4d51;}
.bg-greyscale-4 { background-color: #6B6B6D;}
.bg-greyscale-5 { background-color: #89898B;}
.bg-blue { background-color: #4D69FF;}
.bg-green { background-color: #23AC00;}
.bg-red { background-color: #F04848;}

.border-pink-1 {border-color: #AF13AF;}
.border-gold-1 {border-color: #FADA14;}

.text-black { color: #000000;}
.text-grey-1 { color: #1a1a1a;}
.text-grey-2 { color: #333333;}
.text-grey-3 { color: #4d4d4d;}
.text-grey-4 { color: #666666;}
.text-pink { color: #AF13AF;}
.text-sunset-pink { color: #F24B86;}
.text-gold { color: #FADA14;}
.warning-text { color: #FAD200;}
.info-text { color: #4D69FF;}
.success-text { color: #23AC00;}
.error-text { color: #F04848;}

/*------TYPOGRAPHY-------*/
.fs-large {
    font-size: 55px;
    line-height: 75px;
}
.fs-medium {
    font-size: 36px;
    line-height: 49px;
}
.fs-small {
    font-size: 20px;
    line-height: 28px;
}
.fs-tiny {
    font-size: 13px;
    line-height: 15px;
}
.fs-headline-1 {
    font-size: 48px;
    line-height: 64px;
}
.fs-headline-2 {
    font-size: 40px;
    line-height: 52px;
}
.fs-headline-3 {
    font-size: 34px;
    line-height: 40px;
}
.fs-body-1 {
    font-size: 24px;
    line-height: 28px;
}
.fs-body-2 {
    font-size: 20px;
    line-height: 24px;
}
.fs-caption {
    font-size: 24px;
    line-height: 28px;
}
.fs-label {
    font-size: 20px;
    line-height: 24px;
}

@media only screen and (max-width: 768px) {
    .fs-large {
        font-size: 32px;
        line-height: 36px;
    }
    .fs-medium {
        font-size: 24px;
        line-height: 32px;
    }
    .fs-small {
        font-size: 14px;
        line-height: 18px;
    }
    .fs-headline-1 {
        font-size: 32px;
        line-height: 36px;
    }
    .fs-headline-2 {
        font-size: 24px;
        line-height: 28px;
    }
    .fs-headline-3 {
        font-size: 24px;
        line-height: 28px;
    }
    .fs-body-1 {
        font-size: 16px;
        line-height: 24px;
    }
    .fs-body-2 {
        font-size: 16px;
        line-height: 22px;
    }
    .fs-caption {
        font-size: 14px;
        line-height: 20px;
    }
    .fs-label {
        font-size: 14px;
        line-height: 18px;
    }
}

.ff-montserrat { font-family: 'Montserrat', sans-serif;}
.ff-inter { font-family: 'Inter', sans-serif;}
.ff-inria { font-family: 'Inria Sans', sans-serif;}
.ff-nunito { font-family: 'Nunito Sans', sans-serif;}

.fw-500 { font-weight: 500;}
.fw-600 { font-weight: 600;}
.fw-700 { font-weight: 700;}
.fw-800 { font-weight: 800;}


/*------UTILITY---------*/
.opacity-15 { opacity: 0.15;}
.opacity-30 { opacity: 0.30;}
.opacity-50 { opacity: 0.50;}
.opacity-75 { opacity: 0.75;}
.opacity-80 { opacity: 0.80;}
.opacity-90 { opacity: 0.90;}

.width-5 { width: 5%;}
.width-20 { width: 20%;}
.width-30 { width: 30%;}
.width-33 { width: 33%;}
.width-40 { width: 40%;}
.width-45 { width: 45%;}
.width-48 { width: 48%;}
.width-52 { width: 52%;}
.width-95 { width: 95%;}

.bdr-rad-1 { border-radius: 10px;}
.bdr-rad-2 { border-radius: 5px;}

.box-shad-1 { box-shadow: 0px 4px 4px #00000025;}
    
/*-------BUTTONS--------*/
.primary-btn {
    padding: 1.125rem;
    background-color: #AF13AF;
    border: 2px solid #AF13AF;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
}
.primary-btn:hover {
    background-color: #DD18DD;
}
.primary-btn:active {
    background-color: #EA3EEA;
}
.primary-btn:disabled, .primary-btn[disabled] {
    background-color: #F49AF4;
}

.ghost-primary-btn {
    padding: 1.125rem;
    background-color: #FFFFFF;
    border: 2px solid #540954;
    text-align: center;
    color: #AF13AF;
    border-radius: 5px;
}
.ghost-primary-btn:hover {
    background-color: #DD18DD;
    color: #FFFFFF;
}
.ghost-primary-btn:active {
    background-color: #EA3EEA;
    color: #FFFFFF;
}
.ghost-primary-btn:disabled, .primary-btn[disabled] {
    opacity: 0.5;
}

.secondary-btn {
    width: 100%;
    padding: 1.125rem;
    background-color: #FADA14;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
}
.secondary-btn:hover {
    background-color: #FEE23A;
}
.secondary-btn:active {
    background-color: #FEEC7F;
}
.secondary-btn:disabled, .primary-btn[disabled] {
    background-color: #FEF4B7;
}

/*------INPUTS-------*/
.form-label-1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000000;
}
.form-input-1 {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #00000025;
    border: none;
    outline: none;
    padding: 1.25rem 1.3755rem;
    font-family: 'Inter', sans-serif;
}
.form-input-1:focus, .form-input-1:hover, .form-input-1:active {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 95%, #4D69FF 95%, #4D69FF 100%);
}
.form-input-1.error {
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 95%, #F04848 95%, #F04848 100%);
}
.form-input-1.success {
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 95%, #23AC00 95%, #23AC00 100%);
}
.form-input-2 {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #AF13AF;
    backdrop-filter: blur(4px);
    border-radius: 10px;
}
.form-input-2:hover {
    border: 2px solid #AF13AF;
    box-shadow: 0 0 0 4px #F49AF420;
}
.form-input-2:active, .form-input-2:focus {
    outline: none;
    border: 2px solid #AF13AF;
    box-shadow: 0 0 0 4px #F49AF470;
}

/*-------ALERTS--------*/
.kim-alert {
    max-width: 30rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background: white;
}